/*
Tela: Perfil
Aplicativo: Pontos de Vida
Desenvolvido por: Interfaces Livres
*/

/* -- Estilo da Interface -- */
@import url('https://fonts.googleapis.com/css?family=Jaldi:400,700&display=swap');
body {
    font-family: 'Jaldi', sans-serif !important;
}

/* Propriedades do Header */
#fixedheader {
    background: #1F1E1E;
    box-shadow: none !important;
    height: 60px;
    padding-top: 2px;
}

.mdl-layout__header-row {
    box-shadow: none !important;
}

#simbolo {
    margin-left: -3em;
}

.level {
    position: relative;
    width: -1px;
    height: -1px;
    display: grid;
    grid-template-columns: 38px;
    grid-template-rows: 38px;
    justify-content: center;
    align-content: center;
    top: -1.8px;
    left: -72px;
    margin-left: 35px;
}

.mdl-badge[data-badge]:after {
    top: 21px !important;
    left: -6px !important;
    height: 20px !important;
    width: 20px !important;
    background-color: white !important;
    color: #1F1E1E !important;
    z-index: 3;
    padding-top: 1px;
}

.level canvas {
    position: absolute;
}

#categoria-perfil {
    font-family: 'Jaldi', sans-serif;
    font-weight: 900;
    font-size: 2.1em !important;
    color: #1f1e1e;
    margin-top: 40px;
    margin-left: -209px;
    margin-bottom: -30px;
    text-transform: capitalize !important;
}

.imagem_perfil {
    border-radius: 50%;
    z-index: 1;
    width: 31px;
    height: 31px;
    margin-top: 5px;
    margin-left: 4.5px;
}

.imagem_perfil img{
      border-radius: 50%;
      width: 31px;
      height: 31px;
}

.contador {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 48px;
    text-align: center;
    top: 3.2px;
    right: -30px;
    margin-right: 35px;
    margin-left: 15px;

}

.contador canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.texto_canvas {
    font-size: 13px;
    font-weight: bold;
    display: grid;
    margin-top: 6px;
    margin-left: -8px;
    z-index: 2;
}

.texto_canvas:after {
    content: "Dias";
    font-size: 7.5px;
    text-transform: uppercase;
    margin-top: -10px;
}

@media screen and (min-width: 1025px) {
    .level {
        top: -3px;
    }

    #simbolo {
        margin-top: -3px;
        margin-left: -25px;
    }

    .contador {
        top: 2px;
    }
}

/* Propriedades do Footer */

footer {
    position: fixed;
    background-color: #1F1E1E;
    height: 55px !important;
    width: 100%;
    bottom: 0px;
    z-index: 1;
    left: 0;
    text-align: center;
}

#botaocentro {
    position: relative;
    margin-top: -28px;

    background-color: #c22e30;
    z-index: 2;
}

#iconcentro {
    padding-top: 13px;
}

#botaocontatos {
    position: relative;
    width: 35%;
    align-items: center;
    margin-top: -4.6px;
    margin-left: -4em;
    background-color: transparent !important;
}

#botaoalbuns {
    position: relative;
    width: 35%;
    align-items: center;
    margin-top: -4.6px;
    background-color: transparent !important;
}


/* Propriedades do Perfil */

.demo-card-square.mdl-card {
    width: 300px;
    height: auto;
    background-color: transparent;
}

.categorias {
    font-family: 'Jaldi', sans-serif;
    font-weight: 900;
    font-size: 1.65em;
    color: #1f1e1e;
    margin-top: 30px;
}

.pontos {
    font-family: 'Georgia', serif;
    color: #c22e30;
    font-size: 0.9em;
}

#img_infos {
    display: flex;
    margin-top: 5px;
}

#imgperfil{
    border-radius: 50%;
    z-index: 0;
    width: 80px;
    height: 80px;
    border: 5px solid #daa520;
}

#imgperfil img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}


#badgeperfil {
    margin-top: -18px;
    margin-left: 6.5px;
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
    z-index: 2;
}

#badgeperfil i {
    color: #c22e30;
    font-size: 15px;
    margin-left: 4.8px;
    margin-top: 5px;
}

#perfilinfos .titulo span i {
    color: #919191;
    font-size: 0.7em;
    margin-top: 5px;
}

#perfilinfos .titulo {
    font-size: 1.15em;
}

#perfilinfos {
    margin-left: 10px;
    font-size: 1.1em;
}

#perfil-card {
    width: 307px;
    height: 0px;
    margin-bottom: 110px;
    margin-top: 30px;
    margin-left: 35px;
    margin-right: 30px;
}

#perfiltiposanguineo {
    color: #c22e30;
    margin-top: -19px;
}

#perfilbio {
    font-size: 0.8em;
    color: #919191;
    line-height: 1;
    margin-top: -12px;
}

.titulo {
    color: #4d4d4d;
    font-weight: bold;
    font-size: 1em;
    margin-top: 5px;
    line-height: 1;
}

.subtitulos {
    color: #4d4d4d;
    font-weight: bold;
    font-size: 0.9em !important;
}

.dados {
    margin-top: -20px !important;
    color: #919191;
    font-size: 0.8em;
}

.mdl-switch.is-checked .mdl-switch__thumb {
    background-color: #c22e30 !important;
}

.mdl-switch.is-checked .mdl-switch__track {
    background-color: rgb(194, 46, 48, .5) !important;
}

.margemcat {
    margin-left: 46px;
}

.margem {
    margin-left: 55px;
}

.mdl-switch__label {
    margin-left: 3px !important;
}

/* Propriedaddes da página de cadastro e login */

.cadastro-bg, .login-bg {
	background: #1F1E1E;
}

#logopdv {
	margin: 88px 0 10px 0;
}

.demo-card-square.mdl-card {
  width: 300px;
  height: 30%;
  background-color: transparent;
}


#caixalogin {
	height: 30px;
	border: 1.4px solid white;
	border-radius: 15px;
	margin-bottom: 20px;
	color: white;
}

.mdl-textfield__label {
	color: #666666 !important;
	font-family: "Arial" !important;
	font-size: 11.5px !important;
	margin-top: -12.5px !important;
	padding: 0 20px 0 20px !important;
}

.mdl-textfield__input {
	border-bottom: 0 solid transparent !important;
	font-family: "Arial" !important;
	font-size: 11.5px !important;
	margin-top: -18px !important;
	padding: 13px 20px 13px 20px !important;
	width: 85% !important;
	background-color: transparent !important;
}

input:-internal-autofill-previewed,
input:-internal-autofill-selected,
textarea:-internal-autofill-previewed,
textarea:-internal-autofill-selected,
select:-internal-autofill-previewed,
select:-internal-autofill-selected {
	-webkit-text-fill-color: white !important;
	transition: background-color 5000s ease-in-out 0s;
}

.mdl-textfield__label:after{
    visibility: hidden !important;
}

.social-midia-button {
	border-radius: 10px !important;
}

#entrarbt {
	background-color: #c22e30;
	font-family: 'Jaldi', sans-serif !important;
	font-size: 13px;
    font-weight: bold;
	padding-top: 1px;
	color: white;
	width: 270px;
    border-radius: 6px;
}

#facebookbt {
	background-color: #375490;
	margin-right: 7px;
	min-width: 19%;
	width: 19%;
}

#gmailbt {
	background-color: #C64B39;
	margin-right: 7px;
	min-width: 19%;
	width: 19%;
}

#avisotermos {
	color: white;
	width: 270px;
	text-align: center;
	line-height: 1.4;
	font-family: "Arial";
	font-size: 11.5px;
	margin-top: -24px;
}

#ctaconectar {
	color: white;
	font-family: "Arial";
	font-size: 11.5px;
	margin: -24px 0 70px 0;
}

#ctacadastrar {
	color: white;
	font-family: "Arial";
	font-size: 11.5px;
	margin-top: -28px;
}

#linkcadastrar {
	color: white;
}

#ctaredefinir {
	color: white;
	font-family: "Arial";
	font-size: 11.5px;
	margin-top: -35px;
}

@media screen and (width: 320px) {
	#entrarbt {
		width: 53.6%;
	}

	#logopdv {
		margin-top: 55px;
	}

	#ctacadastrar {
		margin-bottom: 0;
	}
}


/* Estilização da área dos amigos */

.contador__lista-icone {

	position: relative;
	float: left;
	width: 40px;
	height: 40px;
	margin-right: 16px;
	border-radius: 50%;
	display: grid;
	grid-template-columns: 35px;
	grid-template-rows: 35px;
	justify-content: center;
	align-content: center;
}

.contador__lista-icone canvas {

	position: absolute;
	top: 0;
	left: 0;
}

#tabsamigos {
    margin-left: -52px;
}

#categorias-amigos {
    font-family: 'Jaldi', sans-serif !important;
    font-weight: 900;
    font-size: 2.2em !important;
    margin-top: 25px;
    text-transform: capitalize !important;
}

.subcategorias-amigos {
    font-family: 'Jaldi', sans-serif !important;
    font-weight: 900;
    margin-left: 22px;
}



#boxes {
    width: 285px;
    margin-bottom: 75px;
    margin-top: 30px;
    margin-left: -20px;
}

#amigos-rolagem {
    margin-top: -3px;
    padding-top: 0 !important;
    width: 280px;
    height: 66vh;
    overflow-x: scroll !important;
    flex-wrap: nowrap;
    margin-bottom: 25px;
}

#F_Amigo {
    border: 1px solid #dfdfdf !important;
}

/**#adicionaBtn {
    width: 215px;
    height: 40px;
    background-color: #c22e30;
    font-family: 'Jaldi', sans-serif !important;
    font-size: 0.8em !important;
    font-weight: bold;
    border-radius: 6px;
    margin-bottom: 70px;
    color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
                0 3px 1px -2px rgba(0,0,0,.2),
                0 1px 5px 0 rgba(0,0,0,.12);
}**/

#adicionaBtn {
    min-width: 50px !important;
    max-width: 50px !important;
    min-height: 50px !important;
    max-height: 50px !important;
    background-color: #d2cfcf;
    font-size: 11px;
    font-weight: bold;
    border-radius: 6px;
    color: white;
    margin-left: -10;
    margin-bottom: 58px;
}

#adicionaBtn_box {
    width: 58px !important;
    margin-top: -86;
    margin-bottom: 58px;
}

#salvar_edicao_button {
    width: 170px;
    height: 40px;
    background-color: #c22e30;
    font-size: 11px;
    font-weight: bold;
    border-radius: 6px;
    margin-bottom: 40px;
    margin-right: 8px;
    color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
                0 3px 1px -2px rgba(0,0,0,.2),
                0 1px 5px 0 rgba(0,0,0,.12);
}

#membros-rolagem {
    margin-top: -3px;
    padding-top: 0 !important;
    width: 280px;
    height: 40.5vh;
    overflow-x: scroll !important;
    flex-wrap: nowrap;
    margin-bottom: 25px;
}

#cla-img {
    background-image: url(https://i2.wp.com/www.everydaydogmom.com/wp-content/uploads/2015/09/5-essential-oils-for-dogs-featured-1.jpg?resize=400%2C400&ssl=1);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    z-index: 1;
    width: 80px;
    height: 80px;
}

#cla-infos {
    width: 275px;
    height: 0px;
    margin-bottom: 75px;
    margin-top: 28px;
    margin-right: -10px;
    margin-left: 14px;
}

#cla-sair {
    font-size: 12px;
    margin-top: -19px;
    color: #4d4d4d;
    font-weight: bold;
    text-decoration: none;
}

#cta_codigocla {
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    width: 215px !important;
    height: 50px;
    text-align: center;
    margin-bottom: 32px;
    margin-top: -85.8px;
    margin-left: 30px;
    padding-top: 1.5px;
}

#cta_codigocla p {
    font-family: 'Jaldi', sans-serif !important;
    line-height: 0.3 !important;
    font-size: 1.15em !important;
    margin-top: 11px;
}

/*#cta-doadores-line {
    height: 70px;
    width: 1px;
    background-color: #dfdfdf;
    margin-left: 10px;
    margin-right: 17px;
    margin-top: 8px;
}*/

#codigocla_title {
    font-weight: bold;
    color: #c22e30;
}

#amigos-adicionados{
    margin-top: 10px;
}

#amigos-adicionados li {
    margin-bottom: -15px;
}

#amigos-facebook {
    margin-top: -20px;
}

#amigos-facebook li {
    margin-bottom: -15px;
    font-family: 'Jaldi', sans-serif !important;
    font-size: 16.5px;
}

#tab1 {
    margin-top: 12px;
}

.conquistas-cla {
    height: 90px;
    margin-right: 16px;
    margin-top: 0;
    margin-bottom: -12px;
}

#cla-conquistas {
    display: flex;
    margin-left: 15px;

}

#conquistas-rolagem {
    margin-top: -3px;
    margin-right: -16px;
    margin-left: 16px;
    padding-top: 0 !important;
    width: 280px;
    height: 82px;
    overflow-x: scroll !important;
    flex-wrap: nowrap;
}

#conquistas-rolagem:first-child {
    padding-left: 0 !important;
}

@media (min-width:1025px) {
    #conquistas-rolagem::-webkit-scrollbar {
    height: 4px;
    }

    #conquistas-rolagem {
    height: 95px;
    }
}

.quantidades {
    color: #919191;
    font-weight: normal;
    font-size: 0.8em;
}

#copy_button {
    min-width: 50px !important;
    max-width: 50px !important;
    min-height: 50px !important;
    max-height: 50px !important;
    background-color: #d2cfcf;
    font-size: 11px;
    font-weight: bold;
    border-radius: 6px;
    color: white;
    margin-left: -10;
    margin-bottom: 58px;
}

#copy_button_box {
    width: 58px !important;
    margin-top: -86;
    margin-bottom: 58px;
}

/* Estilização do Chat */

#chat_box {
    width: 260px;
    height: 46vh;
    margin-top: 9px;
    margin-bottom: -18px;
    overflow-y: scroll;
    padding-top: 23px;
}

::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: #F4F4F4;
}

#chat_box::-webkit-scrollbar {
    width: 4px;
    height: 0;
}

#amigos-rolagem::-webkit-scrollbar {
    width: 4px;
    height: 0;
}

#membros-rolagem::-webkit-scrollbar {
    width: 4px;
    height: 0;
}

::-webkit-scrollbar-thumb {
    background: #dad7d7;
}

#chat-title {
    color: #545353;
    font-weight: bold;
    font-size: 0.9em;
    text-transform: uppercase;
    width: 275px;
    height: 11px !important;
    margin-top: 32px;
    margin-bottom: -33px;
    text-align: center;
    border-bottom: 1px solid #dfdfdf;
}

#chat-title-space {
    background-color: white;
}

#chat_mspropria {
    width: 275px;
    height: auto;
    margin-bottom: 15px;
    vertical-align: top;
    padding: 0;
    flex-direction: row-reverse;
}

#chat_mspropria .chat_msbox {
    text-align: right;
    margin-right: 40px;
    margin-left: 0;
    border: none;
    background: #FFE9E9;
}

#chat_msamigos {
    width: 275px;
    height: auto;
    margin-bottom: 15px;
    vertical-align: top;
    padding: 0;
}

.chat_imagem {
    background-image: url(https://i2.wp.com/www.everydaydogmom.com/wp-content/uploads/2015/09/5-essential-oils-for-dogs-featured-1.jpg?resize=400%2C400&ssl=1);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    width: 31px;
    height: 31px;
}

.chat_msbox {
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    width: 80%;
    height: auto;
    margin-left: 40px;
    margin-top: -31px;
    padding: 10px 15px 0px !important;
}

#chat_user {
    font-size: 16px;
    color: #919191;
}

#chat_mensagem {
    font-size: 14px;
    line-height: 1.2;
    margin-top: -10px;
    margin-bottom: 15px;
}


#chat_line {
    border-top: 1px solid #dfdfdf !important;
    width: 275px;
    margin-top: 2px;
}

#sample5 {
    border: 1px solid #dfdfdf !important;
    width: 217px !important;
    height: 50px;
    border-radius: 4px;
    padding-left: 22px !important;
    padding-right: 17px !important;
    padding-top: 16px !important;
    margin-left: 9px !important;
    margin-top: -14px !important;
    font-size: 14px !important;
}

#chat_button_box {
    width: 58px !important;
    margin-top: 0;
    margin-bottom: 32px;
}

#ms_input_box {
    width: 217px !important;
    margin-top: 0;
}

#ms_input {
    margin-top: -3px !important;
    margin-left: 12.5px !important;
    font-size: 14px !important;
    color: #919191 !important;
}

#chat_button {
    min-width: 50px !important;
    max-width: 50px !important;
    min-height: 50px !important;
    max-height: 50px !important;
    background-color: #d2cfcf;
    font-size: 11px;
    font-weight: bold;
    border-radius: 6px;
    color: white;
    margin-left: -0.5;
    margin-top: 6px;
}

#send_icon {
    margin-left: -3px;
    margin-top: 2px;
}

/* Estilização das Notificações  */

#categoria-notificacoes {
    font-family: 'Jaldi', sans-serif;
    font-weight: 900;
    font-size: 2.1em !important;
    color: #1f1e1e;
    margin-top: 40px;
    margin-left: -134px;
    margin-bottom: 18px;
    text-transform: capitalize !important;
}

#notificacoes-box {
    width: 100%;
    margin-top: 20px;
    margin-left: -15px;
}


#notificacoes-amigos {
    width: 275px;
    height: auto;
    margin-bottom: 15px;
    vertical-align: top;
    padding: 0;
}

.solicitacao_amizade {
    width: 275px;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    height: auto;
    margin-bottom: 20px;
    padding: 10px 15px 0px !important;
    margin-left: -2px;
}

.solicitacao_amizade_desc {
    margin-left: 50px;
    margin-top: -33px;
    margin-bottom: 9px;
}

#solicitacao_amigo_user {
    font-weight: bold;
}

#amizade-buttons {
    display: flex;
    margin-left: -8px;
    margin-bottom: -5px;
}

#amizade-button:first-child {
    margin-right: 10px;
    background-color: #c22e30;
    color: white;
    text-align: center;
}

#amizade-button {
    font-family: 'Jaldi', sans-serif !important;
    min-width: 85px;
    height: 35px;
    background-color: #d2cfcf;
    font-size: 0.8em;
    font-weight: bold;
    border-radius: 6px;
    color: #545353;
    margin-top: -5px;
}

/* Estilização do Álbum  */

#perfil-div {
    height: 160px !important;
    margin-bottom: 22px;
}

#album-box {
    width: 290px;
    margin-bottom: 75px;
    margin-top: -5px;
    margin-left: -20px;
}

.album-icon {

    height: 24px;
}

div.album-space {

    width: 56px;
    height: 56px;
    border-radius: 4px;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.3);
    margin-bottom: -8.5px;
    text-align: center;
    padding-top: 7px;
}

#categoria-album {
    font-family: 'Jaldi', sans-serif;
    font-weight: 900;
    font-size: 2em !important;
    margin-top: 3px;
    text-transform: none;
    text-transform: capitalize !important;

}

#categorias-albumatual {
    justify-content: left !important;
    margin-left: -22px;
    margin-bottom: 10px !important;
    margin-top: -28px;
    width: 275px;
}

#categorias-albumatual-bottom {
    margin-bottom: -5px;
    margin-top: -6px;
}

#categorias-albunscompletos {
    margin-left: -81px;
    margin-bottom: -21px;
    margin-top: -20px;
}

#categoria-conquistas {
    text-transform: none;
    font-weight: bold;
    font-size: 1.5em !important;
    margin-top: 0;
    text-transform: capitalize !important;

    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 55px !important;
}

#album-title {
    color: #545353;
    font-weight: bold;
    font-size: 0.9em;
    text-transform: uppercase;
    width: 275px;
    height: 11px !important;
    margin-top: 0px;
    margin-bottom: -23px;
    text-align: center;
    border-bottom: 1px solid #dfdfdf;
}

#album-title-space {
    background-color: white;
}

#figuras-grade {
    margin-top: -7.5px;
}

#inventario-title {
    color: #545353;
    height: 23px;
    font-size: 0.75em;
    text-transform: uppercase;
    width: 275px;
    margin-top: -8px !important;
    margin-bottom: -7px !important;
    text-align: center;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
}

#inventario-rolagem {
    margin-top: -3px;
    padding-top: 0 !important;
    width: 267px;
    height: 68px;
    overflow-x: scroll !important;
    flex-wrap: nowrap;
}

#inventario-rolagem:first-child {
    padding-left: 0 !important;
}

#inventario-rolagem:last-child {
    padding-right: 0 !important;
}

@media (min-width:1025px) {
    #inventario-rolagem::-webkit-scrollbar {
    height: 4px;
    }

    #inventario-rolagem {
    height: 70.5px;
    }
}

#album-figura {
    min-width: 56px;
}

#album-line {
    margin-top: -12px;
    background-color: transparent;
}

div.mdl-tabs__tab-bar {
    height: 20px !important;
}

.mdl-tabs__tab-bar {
    border-bottom: 0px !important;
}

a.mdl-tabs__tab {
    padding: 0px 0px 0px 10px !important;
    height: auto;
}

a.mdl-tabs__tab.is-active {
    padding: 0px 0px 0px 10px !important;
    height: auto;
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
    height: 0px !important;
}

.albuminfos {
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    color: #545353;
    font-size: 10.5px;
    width: 180px;
    text-align: center;
    margin-top: 2px;
    margin-bottom: -20px;
}

.albuminfos:first-child {
    margin-right: 75px;
}

div.infosalbum {
    display: flex;
    width: 275px;
    margin-bottom: 17px;
}

#infosalbum-last {
    display: flex;
    width: 275px;
    margin-bottom: 98px;
}

#itemPositionButton {
    width: 275px;
    height: 40px;
    background-color: #d2cfcf;
    font-size: 11px;
    font-weight: bold;
    border-radius: 6px;
    margin-bottom: 40px;
    color: #545353;
}

#itemShareButton {
    width: 80px;
    height: 35px;
    background-color: #d2cfcf;
    font-size: 11px;
    font-weight: bold;
    border-radius: 6px;
    margin-bottom: 40px;
    color: #545353;
}

#inventariobotoes {
    display: flex;
    width: 275px;
    margin-top: 2px;
    margin-bottom: -38px;
}

#inventariobotoes .mdl-button {
    font-family: 'Jaldi', sans-serif !important;
    font-size: 0.8em;
}

#bottom-space {
    height: 65px;
}

/* Estilização da caixa de diálogo de novos itens */

#levelUpIcon {
    width: 200px;
    margin-bottom: 35px;
}

#newLevelDialog {
    text-align: center;
}

#newItemDialog {
    text-align: center;
}

#dialog-close {
    background-color: #d2cfcf;
    border-radius: 50%;
    color: #545353;
    margin-left: 265px;
    margin-top: -24px;
    box-shadow: none;
    font-size: 13px;
    font-weight: bold;
}

#dialog-title {
    color: #545353;
    line-height: 1;
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 35px;
    text-transform: uppercase;
}

#levelup-subtitle {
    color: #545353;
    font-size: 13.5px;
    font-weight: bold;
    text-transform: uppercase;
}

#dialog-button {
    width: 198px;
    height: 35px;
    background-color: #c22e30;
    font-size: 11px;
    font-weight: bold;
    border-radius: 6px;
    color: white;
    margin-bottom: 40px;
}

#levelUpCanvas {
    width: 140px;
    margin-bottom: 35px;
}

/* Estilização da Tela de Escolha de Figuras */
#escolha_title {
    margin-top: 40px;
    margin-bottom: -20px;
}

#escolha_title p {
    font-family: 'Jaldi', sans-serif !important;
    color: #4d4d4d;
    font-weight: bold;
    font-size: 1.4em;
    text-transform: uppercase;
}

#coletar_button {
    width: 204px;
    height: 36px;
    background-color: #d2cfcf;
    font-family: 'Jaldi', sans-serif !important;
    font-size: 11px !important;
    font-weight: bold !important;
    border-radius: 6px;
    margin-bottom: 40px;
    color: #545353 !important;
}

#escolha_figuras {
    height: 225px;
}

/* Estilização da Tela de Descrição de Figuras */
#desc_img {

    width: 274px;
    height: 274px;
    border-radius: 4px;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.3);
    margin-bottom: 10px;
    margin-left: 28px;
    margin-top: 25px;
    text-align: center;
    padding-top: 17.2px;
}

#figura_descricao {
    margin-top: 2;
    width: 274px;
}

#figura_descricao p {
    width: 274px;
    font-family: 'Jaldi', sans-serif;
    font-size: 1.05em !important;
    text-align: center;
    line-height: 1.2 !important;
}

#figura_cabecalho {
    text-align: left !important;
    margin-bottom: 0px;
    background-color: transparent;
    z-index: 0;
    min-height: 0;
}

#figura_title {
    font-family: 'Jaldi', sans-serif;
    font-weight: 900;
    font-size: 1.8em !important;
    color: #1f1e1e;
    margin-top: 40px;
    margin-bottom: 0px;
    margin-left: 25px;
    margin-right: 25px;
}

#figura_categoria {
    font-family: 'Jaldi', sans-serif;
    font-weight: 900;
    font-size: 1.4em !important;
    color: #c22e30;
    margin-left: 33.5px;
    margin-bottom: -2px;
}

#figura_copias {
    font-family: 'Jaldi', sans-serif;
    font-weight: 900;
    font-size: 1em !important;
    color: #545353;
    margin-left: 33.5px;
    margin-bottom: 0;
}

#figura_artista {
    margin-top: 63px;
    margin-bottom: 0;
    font-family: 'Jaldi', sans-serif;
    font-size: 0.9em !important;
    color: #919191;
}

#figura_artista span:first-child {
    font-weight: bold !important;
}

#separador_desc {
    width: 274px;
    margin-top: -8px !important;
    text-align: center;
    border-top: 1px solid #dfdfdf;
}

#separador_desc.mdl-card {
    background-color: transparent !important;
}

#infos_descricao {
    width: 274px;
    margin-top: -13px;
    margin-bottom: 28px;
}

#figura_local {
    margin-left: 0 !important;
}

#figura_data {
    margin-left: 29px !important;
}

#figura_data div #infos_descricao_title {
    margin-left: 11px;
    width: 50px;
}

#figura_data div #infos_descricao_txt {
    margin-left: 11px;
    width: 75px;
}

#infos_descricao_title {
    width: 90px;
    font-family: 'Jaldi', sans-serif;
    font-weight: 900;
    font-size: 1em !important;
    color: #545353;
    margin-top: -5.5px;
}

#infos_descricao_txt {
    width: 120px;
    font-family: 'Jaldi', sans-serif;
    font-weight: 900;
    font-size: 1.2em !important;
    color: #c22e30;
    margin-top: -21.5px;
    line-height: 1;
}

#figura_desc_buttons {
    display: flex;
    width: 275px;
    margin-top: -2px;
    margin-bottom: -17px;
}

#figura_desc_buttons .mdl-button {
    font-family: 'Jaldi', sans-serif !important;
    font-size: 0.8em;
}

#donate_fig_button {
    width: 217px;
    height: 40px;
    background-color: #c22e30;
    font-size: 11px;
    font-weight: bold;
    border-radius: 6px;
    margin-bottom: 40px;
    margin-right: 8px;
    color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
                0 3px 1px -2px rgba(0,0,0,.2),
                0 1px 5px 0 rgba(0,0,0,.12);
}

#share_fig_button {
    min-width: 50px !important;
    max-width: 50px !important;
    height: 40px;
    background-color: #d2cfcf;
    font-size: 11px;
    font-weight: bold;
    border-radius: 6px;
    margin-bottom: 40px;
    color: #545353;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
                0 3px 1px -2px rgba(0,0,0,.2),
                0 1px 5px 0 rgba(0,0,0,.12);
}

/* Estilização da Tela de Edição de Perfil */
.caixa_edicaoperfil {
    width: 274px;
    height: 25px !important;
    border: transparent;
    border-bottom: 1px solid #a5a5a5;
    color: black;
    background-color: transparent;
}

#editarperfil {
    margin-top: -18px !important;
}

#foto_editar_perfil {
    margin-top: 35px !important;
    /**margin-left: 97px !important;**/
    margin-bottom: 4px;
    margin-left: 8px;
}

#foto_editar_perfil_box {
    width: 104.25px;
}

#foto_editar_perfil{
    border-radius: 50%;
    z-index: 0;
    width: 80px;
    height: 80px;
    border: 5px solid #daa520;
}

#foto_editar_perfil img{
  width: 100%;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}

#F_foto {
    display: none !important;
}

#alterar_foto_button {
    min-width: 100px !important;
    max-width: 100px !important;
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 40px;
    color: #c22e30;
    cursor: pointer;
    margin: 10px;
    padding: 2px 10px;
    margin-left: 12px;
}

.label_editar_perfil {
    color: #a5a5a5;
    font-size: 1em !important;
    margin-bottom: -7px;
    margin-top: 32px;
}

.sublabel_editar_perfil {
    color: #dfdfdf;
    font-size: 1em !important;
    margin-bottom: -7px;
    margin-top: 32px;
}

#salvar_edicao_button {
    width: 170px;
    height: 40px;
    background-color: #c22e30;
    font-size: 11px;
    font-weight: bold;
    border-radius: 6px;
    margin-bottom: 40px;
    margin-right: 8px;
    color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
                0 3px 1px -2px rgba(0,0,0,.2),
                0 1px 5px 0 rgba(0,0,0,.12);
}

#cancelar_edicao_button {
    width: 97px !important;
    height: 40px;
    background-color: #d2cfcf;
    font-size: 11px;
    font-weight: bold;
    border-radius: 6px;
    margin-bottom: 40px;
    color: #545353;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
                0 3px 1px -2px rgba(0,0,0,.2),
                0 1px 5px 0 rgba(0,0,0,.12);
}
